.formContainer{
    display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.adminLogForm{
    border-radius: 30px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    text-align: center;
    padding: 20px;
    margin: 50px;
    font-family: "Montserrat", sans-serif;
    width: 60%;
    
}

.adminLogForm h2{
    font-family: "Montserrat", sans-serif;
    margin-bottom: 15px;
    margin-top: 12px;
    
}

.line {
    height: 3px; /* Adjust line thickness as needed */
    margin-bottom: 20px;
    background-color: white;
    text-align: center;
    padding-bottom: 15px;
    position: relative; /* Needed for pseudo-elements to work within the banner */
}



.line::before {
  content: "";
  position: absolute;
  top: 50%; /* Position at the middle vertically */
  left: 0; /* Start from left side */
  width: 100%; /* Stretch across full width */
  height: 2px; /* Adjust height as needed */
  background: linear-gradient(to right, rgba(72, 85, 229, 0) 0%, rgba(72, 85, 229, 0.8) 50%, rgba(72, 85, 229, 0) 100%);
  /* Set z-index to a lower value to place it behind the h1 tag */
  z-index: 0;
}

.line::after {
  content: "";
  position: absolute;
  top: 50%; /* Position at the middle vertically */
  left: 0; /* Start from left side */
  width: 100%; /* Stretch across full width */
  height: 2px; /* Adjust height as needed */
  background: linear-gradient(to right, rgba(72, 85, 229, 0) 0%, rgba(72, 85, 229, 0.3) 50%, rgba(72, 85, 229, 0) 100%);
  /* Set z-index to a lower value to place it behind the h1 tag */
  z-index: 0;
}

 .adminLogForm input{
    font-family: "Montserrat", sans-serif;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid #cbcbcb;
    padding: 8px 20px;
    width: 50%;
 }

 .adminLogForm label{
    font-family: "Montserrat", sans-serif;
   
 }
    